body{
    color: rgb(180, 95, 95);
    background-color: rgb(247, 213, 213);
    margin: 0px;
}

header{
    border-bottom: solid 2px red;
    padding: 20px;
    font-size: 32px;
    color: rgb(163, 105, 105);
}

section{
    background: pink;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
margin-right: 5%;
}
